<h1>Shopping Cart</h1>
<div class="row col-10" *ngIf="cart$ | async as cart">
    <p>
        You have {{ cart.totalItemsCount }} items in your shopping cart.
    </p>


    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Total Price</th>
        </tr>
        </thead>
        <tbody *ngFor="let item of cart.items">
            <ng-container *ngIf="item.quantity !== 0">
            <tr>
                <td>{{ item.title }}</td>
                <td>
                    <product-quantity [product]="item" [shopping-cart]="cart"></product-quantity>
                </td>
                <td> {{ item.totalPrice | currency:'USD':true }} </td>
            </tr>
            </ng-container>
        </tbody>
        <thead class="thead-light">
            <tr>
                <th></th>
                <th>Total Price</th>
                <th> {{ cart.totalPrice | currency:'USD':true }} </th>
            </tr>
        </thead>
    </table>
    
    <a (click)="clearCart()" (click)="emptyLocalStorage()" href="/shopping-cart" class="btn btn-danger sm">Clear Shopping Cart</a>
   
    
    
    
    
    
    
    
    
    <!-- <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody> 
            <tr *ngFor="let productId of cart.productIds">          
                <td>            
                    {{ cart.items[productId].product.title }}       
                </td>
                    {{ cart.items[productId].quantity }}
                <td>
                </td>

                <td>   
                </td>

            </tr>
        </tbody>
        </table> -->
        